.history/
build/
.cache/
.vs/
CMakePresets.json
out/
FinalProject/References/
*.7z
OpenCV-msvc/
bin/
!Ass1/bin/output.png
!Ass3/bin/output_normal.png
!Ass3/bin/knife_normal.png
!Ass1/bin/rotate180.png
.vscode/